body{
    background-color: #333;

}

.card{
    height: 150px;
    background-color: rgb(0, 0, 0);
    border: 5px solid gray;
    transition: all .5s;
    cursor: pointer;
}
.flib{
    transform: rotateY(180deg);
}
.unflib{
    background-color: rgb(0, 0, 0);
}